
// Background Colors
$bgc-orange:       #DC6E50;
// $bgc-red:         #fe1e38;
$bgc-red:         #FF1E38;
$bgc-darkred:     #e31d38;
$bgc-white:        #FFFFFF;
$bgc-grey:         #A0A0A0;
$bgc-lightgrey:    #E5E5E5;
$theme-grey   :    #ff1e38;
$bgc-darkgrey :    #646464;
$bgc-darkwhite :   #F0F0F0;
$bgc-darkorange:   #AF4A2E;
$border-grey   :   #58595B;
$bgc-extralightgrey : #f7f7f7;
// $bgc-ultradarkred: #d21a33;
// Text Colors
$txt-orange:      #DC6E50;
$txt-white:       #FFFFFF;
$txt-grey:        #A0A0A0;
$txt-darkorange:  #AF4A2E;
$txt-lightgrey:    #E5E5E5;
$txt-red      :    #FF1E38;
$txt-darkred  :     #e31d38;
$txt-midgrey : #787878;
$txt-darkgrey : #646464;
$txt-extralightgrey : #f7f7f7;


// HR tag special border
$border-bottom:  18px solid $bgc-red;

/* FONTS  */
$title-font:'BebasNeueRegular';
$title-font-bold:'bebasneuebold';;
$secondary-title: 'BebasNeueBook';
$primary-font: 'dejavu_sansbook';
$secondary-font:'dejavu_sansoblique';
$extra-light:'dejavu_sansextralight';

@mixin position(){
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
